@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*----------ROOT VARIABLES----------*/
:root{
    --font-header: "Bebas Neue";
    --h1:40px;
    --h2:30px;
    --h3:25px;
    --nav-a:20px;
    --nav-span:20px;
    --menu-li:20px;
    --social-li:20px;
    --footer:20px;

    --font-text: "montserrat";
    --P:16px;
    --DD:16px;
    --LI:16px;
    --NAV:16PX;
    --INPUT:16PX;

    --dt:"montserrat 700" 16px;

    --black:#0D0D0D;
    --gray:#F2F2F2;
    --teal:#7ABFBF;
    --lt-teal:rgba(122,191,191,.5);
    --orange:#EB5428
}

/*----------small-setup----------*/

body{
    min-width:414px;
}

h1{
    display:flex;
    flex-direction: column;
    align-self: center;
    font-family:"bebas neue";
    font-size:var(--h1);
    color:var(--black);
    margin-top:6em;
}

h2{
    font-family:"bebas neue";
    font-size:var(--h2);
    color:var(--black);
    align-content: center;
    margin-top:2em;
}

h3{
    font-family:"bebas neue";
    font-size:var(--h3);
    color:var(--black);
    align-content: center;
    margin-top:2em;
}

li{
    font-family:var(--font-text);
    font-size: var(--LI);
}

dl{
    display:grid;
    grid-template-columns: max-content;
}

dt{
    font-family:var(--font-text);
    font-weight: 700;
    grid-column-start: 1;
}

dd{
    font-family: var(--font-text);
    font-size: var(--DD);
    grid-column-start: 2;
    margin-left: 1em;
}

/*----------small header----------*/

header{
    display:flex;
    flex-direction: column;
}

header img{
    width:100%;
    height:100%;
}

menu{
    display:flex;
    justify-content:space-between;
    margin:1em;
}

menu li{
    list-style-type: none;
}

li h3{
    color:var(--orange);
    margin:0;
}

#jump svg{
    position:relative;
    left:30px;
}

/*----------small main section----------*/

div p{
    font-family: var(--font-text);
    font-size: var(--P);
    margin:1em;
    line-height: 1.35;
}

.stats{
    margin-left:1em;
    line-height: 1.35;
}

.stats h2{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.ingredientSection{
    margin-left:1em;
    line-height: 1.35;
}

.ingredientSection h2{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.ingredientSection li{
    list-style-type:disc;
    margin-left: 1em;
}

.directions{
    margin-left:1em;
    line-height: 1.35;
    margin-bottom:1em;
}

.directions h2{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.directions li{
    list-style-type: decimal;
    margin-left: 1em;
}

/*----------small aside section----------*/

aside{
    background-color: var(--teal);
}

aside h2{
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
}

aside img{
    width:110px;
}

aside h4{
    visibility: hidden;
}

#container{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.rice{
    grid-row: 1/2;
    margin-left:1em;
}

.rice h3{
    position:relative;
    left:140px;
    bottom:160px;
}

.rice p{
    position:relative;
    left:120px;
    bottom:160px;
}

.rice .rating{
    position:relative;
    left:120px;
    bottom:160px;
}

.salsaS{
    grid-row: 2/3;
    margin-left:1em;
}

.salsaS h3{
    position:relative;
    left:140px;
    bottom:160px;
}

.salsaS p{
    position:relative;
    left:120px;
    bottom:160px;
}

.salsaS .rating{
    position:relative;
    left:120px;
    bottom:160px;
}

.guac{
    grid-row: 3/4;
    margin-left:1em;
}

.guac h3{
    position:relative;
    left:140px;
    bottom:160px;
}

.guac p{
    position:relative;
    left:120px;
    bottom:160px;
}

.guac .rating{
    position:relative;
    left:120px;
    bottom:160px;
}

.torta{
    grid-row: 4/5;
    margin-left:1em;
}

.torta h3{
    position:relative;
    left:140px;
    bottom:160px;
}

.torta p{
    position:relative;
    left:120px;
    bottom:160px;
}

.torta .rating{
    position:relative;
    left:120px;
    bottom:160px;
}

/*----------small nav----------*/

nav {
    grid-area: nav;
    min-width: 414px;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px #bbb;
    position: fixed;
    top: 0;
    z-index:5;
}

nav ul {
    grid-area: hamberger;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;
}
nav li img {
    display: none;
}
nav li a {
    display: block;
    padding: 20px;
    text-decoration: none;
}
nav label {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    position: relative;
    bottom: 10px;
    left: 30px;
    font-family:var(--font-header)
    
}
nav span {
    display: block;
    position: relative;
    top:-10px;
    color:var(--black);
    font-family: var(--font-header);
    font-size: var(--nav-span);
    font-weight: 700;

 }
nav label svg {
    display: block;
}
label span:before, label span:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
nav input {
    display: none;
}
nav input:checked ~ ul {
    max-height: 550px;
}
nav h2 {
    visibility: hidden;
    height: 1px;
    width: 1px;
}

#logo{
    display:block;
    position:fixed;
    width:190px;
    top:3px;
    left:90px;
    background-color: var(--orange);
    transform:translateY(15px) ;
}

#logo svg{
    position:relative;
    left:60px;
}

#sign-in{
    display:block;
    position:absolute;
    top:20px;
    right:-10px;
    color:var(--black);
    font-family: var(--font-header);
    font-size: var(--nav-span);
    font-weight: 700;
}

#sign-in svg{
    position:relative;
    right:-15px;
}

#sign-in span{
    position:relative;
    top:-3px;
}

/*----------small form----------*/

#search{
    display:block;
    position:absolute;
    top:120px;
    left: 50px;
}

#search fieldset{
    visibility: hidden;
}

#search input{
    outline-style: solid;
    outline-color: var(--orange);
    outline-width: 5px;
    outline-offset: 10px;
    width:275px;
    border-style: none;
}

#search button{
    position:relative;
    top:13px;
    left:5px;
    background-color: var(--orange);
    stroke: var(--orange);
}

/*----------small footer----------*/

#social{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

#social li{
    position:relative;
    left:15px;
    color:var(--orange);
    font-size: 20px;
}

#social a{
    text-decoration: none;
    color:var(--orange);
    font-family: var(--font-header);
    font-size: var(--social-li);
}

#fb div{
    position:relative;
    left:5px;
}

#fb svg{
    position:relative;
    left:15px;
}

#insta svg{
    position:relative;
    left:10px;
}

#yt svg{
    position:relative;
    left:10px;
}

#yt div{
    position:relative;
    top:-1px;
    right:-5px;
}

#tt div{
    top:-1px;
    right:-5px
}

footer h2{
    visibility: hidden;
}
    
footer h3{
    visibility: hidden;
}

#closer img{
    display:block;
    position:relative;
    top: 1em;
    left:100px;
    width:50%;
    height:50%;
    margin-top: 2em;
}

#closer{
    font-family: var(--font-header);
    font-size: var(--footer);
    font-weight: bold;
}

#closer div{
    position:relative;
    left:150px;
    bottom:1em;
}

/*----------MEDIUM QUERY----------*/

@media screen and (min-width: 768px){
    
}
    
header{
    background-color: var(--gray);
}

header img{
    position:relative;
    bottom:60px;
}
h1{
    display:block;
    align-self: start;
    margin-left: 20px;
    margin-bottom: 0.5em;
}

menu{
    justify-content:space-around;
    z-index: 7;
    backdrop-filter: blur(100px);
    filter:brightness(120%);
    margin:0;
    padding:20px;
}

header div{
    background-color: #ffffff;
}

.stats{
    display:flex;
    flex-direction: column;
    margin-left:1em;
    line-height: 1.35;
    text-align: center;
}

.stats h2{
    
    margin-top: 0;
    margin-bottom: 0.5em;
}



/*----------LARGE QUERY----------*/



 